// md
#md {
  margin: 0px 16px;
}
#md p {
  font-size: 1.1rem;
  margin-top: 0.94em;
  line-height: 32px;
}
#md h1 {
  color: rgb(var(--v-theme-primary));
  font-size: 3rem;
  line-height: 1;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
#md h2 {
  color: rgb(var(--v-theme-primary));
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
#md h3 {
  color: rgb(var(--v-theme-primary));
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#md h4 {
  color: rgb(var(--v-theme-primary));
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#md a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}
#md pre {
  background: #161b22;
  border-radius: 5px;
  padding: 16px;
  margin: 1em 0;
  line-height: 1.7142857;
}
html .shiki span {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace !important;

}
#md ul {
  margin: 1rem 0 1rem 32px;
}
#md p code {
  background: rgb(var(--v-theme-backgroundCodeLang));
  border-radius: 3px;
  margin: 0;
  padding: 0.25rem 0.5rem;
}
#md table {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  border-collapse: collapse;
  margin: 20px auto 30px auto;
}
#md table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
#md table thead tr {
  border: 1px solid #ddd;
}
#md table th {
  padding: 10px;
  text-align: center;
}
#md table td {
  padding: 10px;
  text-align: center;
}
// end md

@media (min-width: 1280px) {
  .v-container {
    max-width: 1000px !important;
  }
}
